body, html {
  height:100%;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#ffffff;
  font-family: "Times New Roman", Georgia, Serif;
  margin:0 0 10px 0;
}

h1,h2,h4,h5,h6 {
  text-align: center;
}

h2 {
  font-size:36px;
}

p {
  color:#ffffff;
}

button {
  background:#60816a;
  border:none;
  color:#ffffff;
}

button:hover {
  background-color:#2f4c38;
  transition: all .15s ease-in;
}

a,
a:focus {
  color: #ffffff;
}

a:hover {
  color:#ffffff;
  text-decoration: underline;
}

.herb-bauer {
  font-size:42px;
  font-weight: bold;
}

#navi-main {
  position: fixed;
  bottom:0;
  padding:0;
  margin-bottom:0;
  width:100%;
  background:#000000;
  z-index: 9999;
  border-radius: 0;
  border:none;
}

#navi-main a {
  color: #60816a;
  text-transform: uppercase;
  font-size:14px;
}

#navi-main a:focus,
#navi-main a:hover {
  text-decoration: none;
  background-color: transparent;
}

#navi-main > div {
  padding-left:10px;
  padding-right:10px;
}

#navi-main ul {
  padding:0;
  margin:0;
}

#navi-main ul li {
}

.navbar-header {
  width:50px;
  position: absolute;
  right:10px;
  bottom:0;
}

.icon-bar {
  background:#60816a;
}

.navbar-nav>.active>a {
  border-bottom:3px solid #60816a;
  padding-bottom:3px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    border: none;
    padding-left:0;
    padding-right:0;
}

#arrow-nav {
  opacity: .4;
  font-size:35px;
  color:#ffffff;
  position: fixed;
  bottom:90px;
  right:50px;
  cursor: pointer;
}

.learn-more-button {
  margin:10px 0;
}

.learn-more-button a {
  display:inline-block;
  padding:5px 25px;
}

.learn-more-button a:hover {
  text-decoration: none;
}

.resources a {
  text-decoration: underline;
  display: block;
}

.resources span {
  display:block !important;
}

.resources a:hover {
  text-decoration: none;
}

.social-icons {
  width:30px;
  margin:10px 5px;
}

#home {
  background-image: url(../images/bg-home.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#home-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:260px 20px 20px 20px;
}

#about {
  background-image: url(../images/bg-about.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#about-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:75px 20px 20px 20px;
}

.map {
  position: relative;
}

.location {
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  background: rgba(41, 48, 87, 0.5);
}

#camping {
  background-image: url(../images/bg-camping.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#camping-text {
  height:100%;
  background:rgba(41, 48, 87, 0.5);
  padding:150px 20px 20px 20px;
}

#hunting {
  background-image: url(../images/bg-hunting.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#hunting-text {
  height:100%;
  background:rgba(41, 48, 87, 0.5);
  padding:15px 20px 20px 20px;
}

#skateboarding {
  background-image: url(../images/bg-skateboarding.jpg);
  background-size: cover;
  background-position: top center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#skateboarding-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:220px 20px 20px 20px;
}

.boardroom {
  width:320px;
}

#skiing {
  background-image: url(../images/bg-skiing.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#skiing-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:220px 20px 20px 20px;
}

#fishing {
  background-image: url(../images/bg-fishing.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#fishing-text {
  height:100%;
  background:rgba(41, 48, 87, 0.5);
  padding:150px 20px 20px 20px;
}

#paddlesports {
  background-image: url(../images/bg-paddlesports.jpg);
  background-size: cover;
  background-position: center bottom;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#paddlesports-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:200px 20px 20px 20px;
}

#kayaks {
  background-image: url(../images/bg-kayaks.jpg);
  background-size: cover;
  background-position: center bottom;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#kayaks-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:220px 20px 20px 20px;
}

#cycling {
  background-image: url(../images/bg-cycling.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#cycling-text {
  height:100%;
  background:rgba(41, 48, 87, 0.5);
  padding:180px 20px 20px 20px;
}

#summer {
  background-image: url(../images/bg-summerrentals.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#summer-intro {
  position: absolute;
  min-height: 100%;
  background:rgba(41, 48, 87, 0.5);
  padding-top:50px;
}

#winter {
  background-image: url(../images/bg-winterrentals.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 775px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#winter-intro {
  position: absolute;
  min-height: 100%;
  background:rgba(41, 48, 87, 0.5);
  padding-top:50px;
}

.table-rentals {
  margin:0 auto;
  width:80%;
}

.table-rentals, th, td {
  border:solid 1px #60816a;
}

th {
  background:#60816a;
  font-size:14px;
}

th, td {
  padding:3px 20px;
}

th, td {
    color:#ffffff;
}

td {
  background:rgba(41, 48, 87, 0.5);
}

/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    @media only screen and (max-width : 1024px) {
      #navi-main a {
        font-size:14px;
        padding-left:10px;
        padding-right:10px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      #navi-main a {
        font-size:12px;
        padding-left:10px;
        padding-right:10px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {


      p {
        font-size:11px;
      }

      #navi-main a {
        font-size:9px;
        line-height:12px;
      }

      #arrow-nav {
        bottom:80px;
        right:20px;
      }

      #home, #about, #camping,
      #hunting, #skateboarding,
      #skiing, #fishing, #paddlesports,
      #cycling, #summer, #winter {
        min-height: 650px;
      }

      #skateboarding-intro {
        padding-top:150px;
      }

      .table-rentals {
        margin:0 auto;
        width:95%;
      }

      th,td {
        font-size:11px;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 767px) and (orientation:portrait) {
      .navbar-nav>.active>a {
        color:#ffffff !important;
        border-bottom:none;
        padding-bottom:10px;
      }

      #arrow-nav {
        bottom:60px;
        right:8px;
      }

      #camping-text p, #hunting-text p,
      #skateboarding p, #skiing p,
      #paddlesports p, #kayaks p,
      #fishing-text p, #cycling-text p,
      #camping-text h3, #hunting-text h3,
      #skateboarding-intro h3, #fishing-text h3,
      #paddlesports-intro h3, #kayaks-intro h3,
      #camping-text .resources,
      #hunting-text .resources,
      #skateboarding-intro .resources,
      #fishing-text .resources {
        text-align: left;
      }
    }

    @media only screen and (max-width : 767px) and (orientation:landscape) {
      .navbar-nav>.active>a {
        color:#ffffff !important;
        border-bottom:none;
        padding-bottom:10px;
      }

      span.navi-link br {
        display: none;
      }

      #arrow-nav {
        bottom:60px;
        right:8px;
      }

      #camping-text p, #hunting-text p,
      #skateboarding p, #skiing p,
      #paddlesports p, #kayaks p,
      #fishing-text p, #cycling-text p,
      #camping-text h3, #hunting-text h3,
      #skateboarding-intro h3, #fishing-text h3,
      #paddlesports-intro h3, #kayaks-intro h3,
      #camping-text .resources,
      #hunting-text .resources,
      #skateboarding-intro .resources,
      #fishing-text .resources {
        text-align: left;
      }

      #summer {
        min-height: 900px;
      }

      #winter {
        min-height: 800px;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) and (orientation:portrait) {
      .navbar-nav>.active>a {
        color:#ffffff !important;
        border-bottom:none;
        padding-bottom:10px;
      }

      #arrow-nav {
        bottom:60px;
        right:8px;
      }

      #home-intro {
        padding-top:190px
      }

      #about-intro {
        padding-top:100px;
      }

      #hunting {
        min-height:825px;
      }

      #skateboarding {
        min-height:725px;
      }

      #skateboarding-intro {
        padding-top:100px;
      }

      #fishing-text {
        padding-top:100px;
      }

      #paddlesports-intro {
        padding-top:70px;
      }

      #summer {
        min-height:950px;
      }

      #winter {
        min-height:900px;
      }
    }

    @media only screen and (max-width : 767px) and (orientation:landscape) {
      .navbar-nav>.active>a {
        padding-bottom:5px;
      }

      .navbar-nav>li>a {
        padding-top:5px;
        padding-bottom:5px;
      }

      .navbar .navbar-collapse {
        padding-top:5px;
        padding-bottom:5px;
      }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
      .boardroom {
        width:280px;
      }
    }

    @media only screen and (min-width : 1440px) {
      #home-intro {
        padding-top:30%;
      }

      #about-intro {
        padding-top:12%;
      }

      #camping-text {
        padding-top:12%;
      }

      #hunting-text {
        padding-top:12%;
      }

      #skateboarding-intro {
        padding-top:20%;
      }

      #skiing-intro {
        padding-top:25%;
      }

      #fishing-text {
        padding-top:20%;
      }

      #paddlesports-intro {
        padding-top:25%;
      }

      #kayaks-intro {
        padding-top:25%;
      }

      #cycling-text {
        padding-top:25%;
      }

      #summer-intro {
        padding-top:5%;
      }

      #winter-intro {
        padding-top:5%;
      }
    }
