body, html {
  height:100%;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#ffffff;
  font-family: "Times New Roman", Georgia, Serif;
  text-align: center;
  margin:0 0 10px 0;
}

p {
  color:#ffffff;
}

button {
  background:#60816a;
  border:none;
  color:#ffffff;
}

button:hover {
  background-color:#2f4c38;
  transition: all .15s ease-in;
}

a,
a:focus {
  color: #ffffff;
}

a:hover {
  color:#ffffff;
  text-decoration: underline;
}

.herb-bauer {
  font-size:42px;
  font-weight: bold;
}

#navi-main {
  position: fixed;
  bottom:0;
  padding:0;
  margin-bottom:0;
  width:100%;
  background:#000000;
  z-index: 9999;
  border-radius: 0;
  border:none;
}

#navi-main a {
  color: #60816a;
  text-transform: uppercase;
  font-size:14px;
}

#navi-main a:focus,
#navi-main a:hover {
  text-decoration: none;
  background-color: transparent;
}

#navi-main ul {
  padding:0;
  margin:0;
}

#navi-main ul li {
}

.navbar-header {
  width:50px;
  position: absolute;
  right:10px;
  bottom:0;
}

.icon-bar {
  background:#60816a;
}

.navbar-nav>.active>a {
  border-bottom:3px solid #60816a;
  padding-bottom:3px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    border: none;
}

#arrow-nav {
  opacity: .4;
  font-size:35px;
  color:#ffffff;
  position: fixed;
  bottom:90px;
  right:50px;
  cursor: pointer;
}

.learn-more-button {
  margin:10px 0;
}

.learn-more-button a {
  display:inline-block;
  padding:5px 25px;
}

.learn-more-button a:hover {
  text-decoration: none;
}

#camping .resources,
#hunting .resources,
#skateboarding .resources,
#fishing-text .resources {
  text-align: center;
}

.resources a {
  text-decoration: underline;
}

.resources a:hover {
  text-decoration: none;
}

.social-icons {
  width:30px;
  margin:5px;
}

#home {
  background-image: url(../images/bg-home.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#home-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:220px 20px 20px 20px;
}

#about {
  background-image: url(../images/bg-about.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#about-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:75px 20px 20px 20px;
}

.map {
  position: relative;
}

.location {
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  background: rgba(41, 48, 87, 0.5);
}

#camping {
  background-image: url(../images/bg-camping.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#camping-text {
  height:100%;
  background:rgba(41, 48, 87, 0.5);
  padding:150px 20px 20px 20px;
}

#hunting {
  background-image: url(../images/bg-hunting.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#hunting-text {
  height:100%;
  background:rgba(41, 48, 87, 0.5);
  padding:35px 20px 20px 20px;
}

#skateboarding {
  background-image: url(../images/bg-skateboarding.jpg);
  background-size: cover;
  background-position: top center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#skateboarding-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:220px 20px 20px 20px;
}

.boardroom {
  width:320px;
}

#skiing {
  background-image: url(../images/bg-skiing.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#skiing-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:220px 20px 20px 20px;
}

#fishing {
  background-image: url(../images/bg-fishing.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#fishing-text {
  height:100%;
  background:rgba(41, 48, 87, 0.5);
  padding:150px 20px 20px 20px;
}

#paddlesports {
  background-image: url(../images/bg-paddlesports.jpg);
  background-size: cover;
  background-position: center bottom;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#paddlesports-intro {
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  padding:160px 20px 20px 20px;
}

#cycling {
  background-image: url(../images/bg-cycling.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#cycling-text {
  height:100%;
  background:rgba(41, 48, 87, 0.5);
  padding:180px 20px 20px 20px;
}

#summer {
  background-image: url(../images/bg-summerrentals.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#summer-intro {
  position: absolute;
  min-height: 100%;
  background:rgba(41, 48, 87, 0.5);
  padding-top:50px;
}

#winter {
  background-image: url(../images/bg-winterrentals.jpg);
  background-size: cover;
  background-position: center;
  height:100%;
  min-height: 750px;
  width:100%;
  min-width: 100%;
  position: relative;
}

#winter-intro {
  position: absolute;
  min-height: 100%;
  background:rgba(41, 48, 87, 0.5);
  padding-top:50px;
}

.table-rentals {
  margin:0 auto;
  width:80%;
}

.table-rentals, th, td {
  border:solid 1px #60816a;
}

th {
  background:#60816a;
  font-size:14px;
}

th, td {
  padding:3px 20px;
}

th, td {
    color:#ffffff;
}

td {
  background:rgba(41, 48, 87, 0.5);
}

/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    @media only screen and (max-width : 1024px) {
      #navi-main a {
        font-size:14px;
        padding-left:10px;
        padding-right:10px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      #navi-main a {
        font-size:12px;
        padding-left:10px;
        padding-right:10px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      h1,h2,h3,h4,h5,h6 {
        text-align: center;
      }

      p {
        font-size:11px;
      }

      #navi-main a {
        font-size:9px;
        line-height:12px;
      }

      #arrow-nav {
        bottom:80px;
        right:20px;
      }

      #home,
      #about,
      #camping,
      #hunting,
      #skateboarding,
      #skiing,
      #fishing,
      #paddlesports,
      #cycling,
      #summer,
      #winter {
        min-height: 650px;
      }

      #camping-text p,
      #hunting-text p,
      #skateboarding p,
      #skiing p,
      #fishing-text p,
      #cycling-text p {
      }

      .table-rentals {
        margin:0 auto;
        width:95%;
      }

      th,td {
        font-size:11px;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 767px) and (orientation:portrait) {
      .navbar-nav>.active>a {
        color:#ffffff !important;
        border-bottom:none;
        padding-bottom:10px;
      }

      #arrow-nav {
        bottom:60px;
        right:8px;
      }
    }

    @media only screen and (max-width : 767px) and (orientation:landscape) {
      .navbar-nav>.active>a {
        color:#ffffff !important;
        border-bottom:none;
        padding-bottom:10px;
      }

      span.navi-link br {
        display: none;
      }

      #arrow-nav {
        bottom:60px;
        right:8px;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) and (orientation:portrait) {
      .navbar-nav>.active>a {
        color:#ffffff !important;
        border-bottom:none;
        padding-bottom:10px;
      }

      #arrow-nav {
        bottom:60px;
        right:8px;
      }

      #home-intro {
        padding-top:190px
      }

      #about-intro {
        padding-top:100px;
      }

      #camping-text {
      }

      #hunting-text {
      }

      #skateboarding-intro {
        padding-top:100px;
      }

      #skiing-intro {
      }

      #fishing-text {
      }

      #paddlesports-intro {
        padding-top:70px;
      }

      #cycling-text {
      }

      #summer-intro {
      }

      #winter-intro {
      }
    }

    @media only screen and (max-width : 480px) and (orientation:landscape) {
      .navbar-nav>.active>a {
        color:#ffffff !important;
        border-bottom:none;
        padding-bottom:10px;
      }

      span.navi-link br {
        display: none;
      }

      #arrow-nav {
        bottom:60px;
        right:8px;
      }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
